<launch>
  <node name="sound_play" pkg="sound_play" type="soundplay_node.py" output="screen">
    <remap from="/robotsound" to="/hri/speech_generator"/>
  </node>

  <node name="speech_recog" pkg="sprec_pocketsphinx" type="asr.py" output="screen">
    <param name="gram_file" value="$(find sprec_pocketsphinx)/vocab/final_project.gram"/>
    <param name="dict_file" value="$(find sprec_pocketsphinx)/vocab/voice_cmd.dic"/>
    <param name="grammar_name" value="final_project_gram"/>
    <param name="rule_name" value="simple_command"/>
  </node>
  <node name="audio_control" pkg="sprec_pocketsphinx" type="send_audio.py" output="screen">
    <param name="input" value=":default"/>
  </node>
</launch>
